[Unit]
Description=SMS Server
After=multi-user.target

[Service]
Type=simple
Restart=always
User=<user>
ExecStart=/usr/bin/python <path>/main.py

[Install]
WantedBy=multi-user.target
